<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <h1>Tasks</h1>
      <table class="table">
        <% @tasks.each do |task| %>
        <tr>
          <td>
            <%= task.description %>
          </td>
          <td>
            <% if task.complete %>
            <%= link_to "<span class='glyphicon glyphicon-ok' aria-hidden='true'></span>".html_safe, task_path(task), method: :patch %>
            <% else %>
            <%= link_to "<span class='glyphicon glyphicon-unchecked' aria-hidden='true'></span>".html_safe, task_path(task), method: :patch %>
            <% end %>
          </td>
          <td>
            <%= link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, task_path(task), method: :delete, data: { confirm: "Delete?" } %>
          </td>
        </tr>
        <% end %>
      </table>
      <%= button_to "Add New Task", new_task_path, method: :get, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
